name: CI/CD Bot Apex

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout latest code
        uses: actions/checkout@v4

      - name: Sync project to VM
        run: |
          rsync -av --delete ./ /home/ubuntu/Bot/

      - name: Ensure venv exists
        run: |
          cd /home/ubuntu/Bot
          if [ ! -d "venv" ]; then
            echo "Creating venv..."
            python3 -m venv venv
          else
            echo "venv already exists."
          fi

      - name: Install dependencies
        run: |
          cd /home/ubuntu/Bot
          source venv/bin/activate
          pip install -r requirements.txt

      - name: Starting python3 bot_apex.py
        run: |
          python3 ./bot_apex.py

      - name: Finished
        run: echo "Deployment and bot execution completed."
